

<script>
  $(document).ready(function () {
    var t = $('#example').DataTable({
      paging:false,
      ordering:false,
        columnDefs: [
            {
                searchable: false,
                orderable: false,
                targets: 0,
            },
        ],
        order: [[1, 'asc']],
    });
 
    t.on('order.dt search.dt', function () {
        let i = 1;
 
        t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
            this.data(i++);
        });
    }).draw();
});
</script>

<script src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">

<table class="display" id="example">
  <thead>
  <tr>
    <th></th>
    <th style="width:30%">Name</th>
    <th>Email</th>
    <th>Incharge of</th>
  </tr>
  </thead>
<tbody>

  {{#each staff}}
  <tr onclick="parent.location='/manage/staff/edit/{{this.staffid}}'" style="cursor:pointer">
    <td></td>
    <td>{{this.firstname}} {{this.lastname}}</td>
    <td>{{this.email}}</td>
    <td>{{#if this.course}}{{this.course}} Year {{this.year}}{{else}} Not set {{/if}}</td>

    {{!-- {{#if this.admin}}
      <td>admin</td>
    {{else if this.staff}}
      <td>staff</td>
    {{else}}
      <td>Not set</td>
    {{/if}} --}}
      </tr>
  {{/each}}
</tbody>
</table>

